/* Fuente principal */
@font-face {
    font-family: "Fuente";
    src: url(../fonts/contm.ttf) format("truetype");
}
body{
font-family: Fuente;
}
html { 
  background: url('../img/bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Header index */
.bgHeader{
background-color: #1c86f2;
}
.header-line{
background-color: #FFF;
border-bottom:1px solid #1c86f2;
-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0.5);
box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}
.header-line img{
display: block;
margin: 0 auto;
padding: 2%;
}
.header-txt{
	text-transform: uppercase;
	padding-top: 1%;
	font-size: 20px;
	text-align: center;
}
.header-txt div{
	font-size: 26px;
	font-weight: bold;
}

.footer{
	margin-top: 8%;
	padding: 3%;
	background-color: #fff;
	border-top:1px solid #1c86f2;
}
/* Logins */
.btn-login{
margin-top: 2%;
}
.titulo{
margin: 10% 0 2% 0;
text-align: center;
font-size: 20px;
padding: 2%;
background-color: #FFF;
border-radius: 12px;
}
.titulo2{
margin: 2% 0;
text-align: center;
font-size: 20px;
}
.btn-login button{
margin-left: 10%;
}
/* Menu */
#menu{
background-color: #1c86f2;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu li {
    display: inline;
    padding: 2%;
}

#menu li:hover {
    background-color: #4ca0f5;
    padding: 0 2%;
}

#menu a {
	 color: #FFF;
    text-decoration: none;
}
/* Menu profesor */

#menu-profe{
background-color: #313439;
}
#menu-profe ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu-profe li {
    display: inline;
    padding: 2% 2% 2% 20%;
}
#direct li {
    display: inline;
    padding: 2% 2% 2% 2% !important;
}
#menu-profe i{
margin-top: 2%;
}
#menu-profe i:hover {
	 cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}
a#foto img{
	height: 32px;
	width: auto;
	vertical-align: middle;
	margin-bottom: 3%;
}
a#foto span{
	padding-left: 4px;
	font-size: 14px;
}
.contenido{
background-color: rgba(255,255,255,1);
}
.paneles{
background-color: rgba(255,255,255,1);
max-height: 240px;
overflow-y: scroll;
margin-bottom: 6%;
padding-bottom: 4%;
}
.paneles ul{
	list-style-type: none;
	margin: 0 0 0 10%;
}
.paneles p{
font-size: 15px;
font-weight: bold;
padding: 2%;
border-bottom: 4px dotted #1c86f2;
}
.paneles img{
	vertical-align: middle;
}

.groups li{
font-size: 14px;
padding-left: 10%;
}
.groups li:hover{
color: #1c86f2;
cursor: pointer;
}
.paneles a{
	color: #666;
	list-style-type: none;
	text-decoration: none;
}

.paneles a:hover{
	color: #333;
}

#menu-profe a {
	 color: #FFF;
    text-decoration: none;
}
.menu-row{
height: 44px !important;
}
.menu-row input{
	margin-top: 1%;
}
/* pizarra */
#pizarra{
	margin-top: 3%;
}
.edit{
color: #1c86f2;
}
.gradient{
background: rgb(238,238,238);
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
}
 #contenido img{
 	 width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto
 }
 .shadow{
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75); 
 }
 .b-1{
 	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
 	color: white;
 text-align: center; 
 padding: 15%; 
 margin: 10% 20% 10% 20%; 
 background-color: #5757C8;
 cursor: pointer;
 }
 .b-1:hover{
 background-color: rgba(87,87,200, 0.8);
 }
  .b-2{
 	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
 	color: white;
 text-align: center; 
 padding: 15%; 
 margin: 10% 20% 10% 20%; 
 background-color: #00A295;
 cursor: pointer;
 }
 .b-2:hover{
 background-color: rgba(0,162,149, 0.8);
 }
   .b-3{
 	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
 	color: white;
 text-align: center; 
 padding: 15%; 
 margin: 10% 20% 10% 20%; 
 background-color: #C23529;
 cursor: pointer;
 }
 .b-3:hover{
 background-color: rgba(194,53,41, 0.8);
 }
 
 .scrollToTop{
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #1c86f2;
	text-decoration: none;
	position:fixed;
	bottom: 20px;
	right:40px;
	display:none;
	border: 1px solid #1c86f2;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
.scrollToTop:hover{
	text-decoration:none;
}

.tareas{
	padding-left: 4%;
	font-size: 14px;
	cursor: pointer;
}
.tareas:hover{
	color: #1c86f2;
}

.archivo {
    color: black;
    background-color: #DDD;
    border: 1px solid #DDD;
    display: inline-block;
    padding: 1%;
	 cursor: pointer;
}

.archivo:hover{
	background-color: #fff;
	border: 1px solid #1c86f2;
}

.nomArch{
	padding-top: 1%;
	padding-bottom: 4%;
	font-size: 12px;
}
.inputArchivo {
	display: none !important;
}

.box-file{
border: 6px dotted lightgray;
padding: 4%;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.temario{
border: 4px dotted lightgray;
margin-top: 4%;
padding: 4%;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.header-topic{
	text-align: center;
	background-color: #e0e1e1;
	border: 1px dotted #CCC;
	padding: 4%;
	font-size: 20px;
	font-weight: bold;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
.header-topic a{
	color: #000;
	text-decoration: none;
}
.header-topic a:hover{
	color: #1c86f2;
}
.docs{
	border: 4px solid #e0e1e1;
	padding: 4%;
}
.docs a{
	font-size: 14px;
	padding-left: 4%;
}
.docs i{
cursor: pointer;
}
.borde{
border: 4px solid #e0e1e1;
padding: 4%;
}
.box-tareas{
border: 2px solid #e0e1e1;
margin-bottom: 2%;
}
.edit-tareas i{
	cursor: pointer;
}
.edit-tareas a{
	cursor: pointer;
	text-decoration: none;
}
.elim-preg{
float: right;
cursor: pointer;
}
/* Perfil */
.divbutton{
	
}

.divbutton > input
{
    display: none;
}
.hoverBtn {
	position: relative;
text-align: center;
border: 1px solid #DDD; 
height: 182px;
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);;
}

.hoverBtn  div {
	display: none;
}

.hoverBtn > input{
	display: none;
}

.hoverBtn:hover {
	background-color: rgba(44, 40, 36, 0.5);
background: rgba(44, 40, 36, 0.5);
color: rgba(44, 40, 36, 0.5);
 box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.hoverBtn:hover  div {
   display: block;
	width: 100%;
	top: 0px;
	left: 0px;
   position: absolute;
   z-index: 1000;
} 
.msjEnv{
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.75);
border: 1px solid #1c86f2;
margin-top:2%;
padding: 2%;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;	
}